<!DOCTYPE html>
<html>
<title>Verification Vibration</title>
<meta charset="UTF-8">
<style>
</style>

<body>
<h2> Vérification fonctionnalité du vibreur </h2>
<form id="vib" >

  <div id="div1">
    <p> Veuillez enlever le mode silencieux de votre téléphone</p>
    <button class="btn btn-default" (click)="vibrateSimple()">Vibrate for 200 ms</button>

  </div>
  <div id="div_verif_vibreur">
    <p id="verif-vibreur"> Cela a-t-il fonctionné ? </p>
    <button class="btn-oui" value="200" onCLick="">oui</button>
    <button class="btn-non" value="0" onClick="">non</button>

  </div>
</form>
</body>
