<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>HTML5 Demo: getUserMedia (Treehouse Blog)</title>
<!--<link rel="stylesheet" href="hac.css">-->

<body>
<h2> controle de caméra </h2>
<div id="video-container">
  <video id="video" #video width="640" height="480" autoplay><source src="{{ videosource }}" type="video/mp4" /></video>
  <button id="snap">prendre une  Photo</button>
  <canvas id="canvas" width="640" height="480"></canvas>>
</div>
<div id="video-container2">
  <video id="video2" #video width="640" height="480" autoplay><source src="{{ videosource2 }}" type="video/mp4" /></video>
</div>
<h2> cela a-t-il fonctionné </h2>
<div id="verif">
  <button id="phoui1" value=200 onClick="" [routerLink]="['/song']">oui</button>
</div>

</body>
</html>
