<h1>{{title}}</h1>
<div style="text-align:center"> 
<img width="300" alt="Volpy Logo" src="https://www.bing.com/images/search?view=detailV2&ccid=%2BsBqMmBg&id=54C027F810B3D9583A62C5951E7E1DC7CF82DE6A&thid=OIP.-sBqMmBg04TRYclqGyxAkgHaHa&mediaurl=http%3A%2F%2Fis5.mzstatic.com%2Fimage%2Fthumb%2FPurple128%2Fv4%2F4d%2F76%2F0d%2F4d760d38-55fd-1df4-224e-806a46e47dc9%2Fsource%2F512x512bb.jpg&exph=512&expw=512&q=volpy&simid=608054422863481257&selectedindex=0&ajaxhist=0&vt=0">
</div>
<ul class="nav nav-pills">
  <li> <a
    [routerLink]="['/screen']" >Screen</a></li>
</ul>

<router-outlet></router-outlet>

